
langchain>=0.2.11
langchain-community>=0.2.11
langchain-ollama>=0.1.0      
faiss-cpu>=1.8.0             

sentence-transformers>=2.7.0 
transformers>=4.42.0         
torch>=2.2.0                 

deep-translator>=1.11.4      
langdetect>=1.0.9            


pypdf>=4.2.0                 
unstructured>=0.14.0         


redis>=5.0.4


pytesseract>=0.3.10         
Pillow>=10.0.0               


numpy>=1.26.0
regex>=2024.5.15
tqdm>=4.66.0
python-dotenv>=1.0.1
